/** @format */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: rgba(66, 78, 102, 1);
}

.icon-stir {
  display: inline-block;
  background: #7781d0;
  margin-right: 6px;
  width: 6px;
  height: 20px;
}

.flex {
  display: flex;

  &-between {
    justify-content: space-between;
  }
}

.cards {
  padding: 10px 0 0 10px;
  color: #fff;
}

.card-item {
  flex: 1;
  padding: 20px;
  margin: 0 10px 10px 0;
  background-size: cover;
  border-radius: 10px;
  font-size: 13px;
}

.text-center {
  text-align: center;
}

.f-50 {
  font-size: 50px;
}

.f-20 {
  font-size: 20px;
}

.fw-600 {
  font-weight: 600;
}

.f-bold {
  font-weight: bold;
}

.bg1 {
  background-image: url('../../assets/image/bg1.png');
}

.bg2 {
  background-image: url('../../assets/image/bg2.png');
}

.bg3 {
  background-image: url('../../assets/image/bg3.png');
}

.bg4 {
  background-image: url('../../assets/image/bg4.png');
}

.arrow {
  height: 13px;
  margin-left: 5px;
}

.section {
  margin: 12px 0;
  background: #fff;
  border-radius: 10px;
}

.head-row {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.btn-tab {
  text-align: center;
  margin: 20px;
}

.padding-10-0 {
  padding: 10px 0px;
}
